@tailwind base;
@tailwind components;
@tailwind utilities;


.clk{
    
    bottom: -5px ;
}
#hrs::after{
    color: rgb(0, 0, 0);
    content: 'HOURS';
    font-size: 16px;
    }
    #min::after{
        color: rgb(0, 0, 0);
    content: 'MINS';
    font-size: 16px;
    }
    #sec::after{
        color: rgb(0, 0, 0);
    content: 'SEC';
    font-size: 16px;
}